/* Value Proposition */
.value-title {
  padding-right: 40px;
  margin-top: 0px;
  display: block;
  text-align: right;
}
.value-proposition {
  background-color: var(--black);
  color: var(--white);
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.value-proposition .val-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.value-proposition .text-container {
  flex: 1;
  padding-right: 20px;
}
.text-container h2 {
  font-size: var(--h2-font-size);
}
.text-container p {
  line-height: 2.1;
  font-size: var(--normal-font-size);
}
.values-section {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.value-item {
  display: flex;
  flex-direction: column;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.value-item {
  opacity: 0;
  transform: translateX(-100%);
  animation-name: slideInFromLeft;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}
.value-box {
  padding: 10px 20px;
  border: 2px solid var(--white);
  border-radius: 15px;
  font-weight: bold;
  font-size: var(--normal-font-size);
  transition: background-color 0.3s, color 0.3s;
}
.value-box:hover {
  border: 2px solid var(--orange);
  cursor: pointer;
}
.value-proposition .value-img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
}
.value-proposition img {
  max-width: 60%;
  height: auto;
}
.value-proposition h2 {
  color: var(--white);
  margin-bottom: 30px;
}
.brand-name {
  font-family: "TTLakesNeueExp-DBold", sans-serif;
  font-weight: bold;
  color: var(--orange);
  letter-spacing: 0.05em;
  font-size: var(--normal-font-size);
}
.value-proposition p {
  line-height: 2.1;
}
.highl {
  border-bottom: 2px solid var(--orange);
  padding-bottom: 3px;
  line-height: 1.6;
  display: inline;
}
.cta .btn-primary {
  margin-top: 50px;
  background-color: var(--orange);
  color: var(--white);
  text-decoration: none;
  padding: 15px 25px;
  display: inline-block;
  border-radius: 50px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn-primary {
  animation: fadeIn 9s ease-in-out forwards;
}
.cta .btn-primary:hover {
  background-color: #afafaf;
  color: #333;
}

/* ROAD MAP */
.map-title {
  background-color: #dbdbdb;
  padding-top: 40px;
  padding-right: 20px;
  display: block;
  text-align: right;
}
.how-it-works {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbdbdb;
  padding: 50px;
  position: relative;
}
.step {
  text-align: center;
  flex-basis: calc(33.333% - 40px);
  position: relative;
}
.icon-wrapper {
  display: inline-block;
  background-color: var(--orange);
  padding: 20px;
  border: 2px solid #c4c4c4;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  transition: transform 0.3s ease;
}
.icon-wrapper:hover {
  transform: scale(1.1);
}
.step img {
  width: 60px;
  height: auto;
}
.step h3 {
  color: #333;
  margin: 15px 0 10px;
  font-size: var(--h3-font-size);
}
.step p {
  color: #666;
}
.connector {
  top: 50%;
  height: 2px;
  width: 20%;
  left: 40%;
  transform: translateY(-50%);
}
.connector::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 50%;
  width: 40px;
  height: 40px;
  background-image: url("/img/icons/arrow.webp");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(50%);
}
.step:first-child .connector {
  left: 50%;
  right: auto;
}
.step:last-child .connector {
  right: 50%;
  left: auto;
}

/* Indicadores */
.dynamic-indicators {
  text-align: center;
  padding: 50px 0;
  background-color: #e3e2e2;
}
.indicator {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 0 45px;
  transition: all 0.3s ease;
}
.indicator-top {
  display: flex;
  align-items: center;
}
.indicator-icon {
  height: 60px;
  width: auto;
  margin-right: 15px;
}
.indicator-value {
  font-size: var(--h1-font-size);
  font-weight: bold;
  color: var(--orange);
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}
.indicator h3 {
  font-size: var(--h3-font-size);
  color: #333;
  font-weight: 300;
}

/* Responive */
@media screen and (min-width: 951px) and (max-width: 1024px) {
  .value-proposition {
    padding: 30px;
  }
  .value-proposition .text-container {
    padding-right: 0px;
  }
  .value-proposition img {
    max-width: 80%;
  }
  .values-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .value-box {
    margin: 10px;
  }
  .cta .btn-primary {
    margin-top: 30px;
  }
  .value-proposition p {
    line-height: 1.6;
  }
}

@media (max-width: 950px) {
  .value-title {
    margin-top: 0px;
    padding-right: 20px;
  }
  .value-proposition {
    padding: 30px;
  }
  .text-container h2 {
    margin-bottom: 20px;
  }
  .text-container p  {
    line-height: 1.6;
  }
  .value-proposition .value-img {
    padding-left: 0px;
  }
  .val-container {
    flex-direction: column;
  }
  .values-section {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .value-item {
    width: 100%;
    margin-bottom: 20px;
    transform: translateX(0);
    opacity: 1;
    animation-name: slideInFromLeft;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  .value-box {
    padding: 5px 10px;
    border: none;
  }
  .value-box:hover {
    border: none;
    cursor: none;
  }
  .cta .btn-primary {
    margin-top: 10px;
  }
  .cta .btn-primary {
    padding: 10px 20px;
    border: 2px solid var(--orange);
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    background-color: transparent;
  }
  .value-proposition {
    width: 100%;
    padding: 30px;
  }
  .value-proposition .value-img img {
    max-width: 40%;
  }
  .how-it-works {
    padding: 20px;
    gap: 20px;
  }
  .step {
    margin-top: 20px;
  }
  .dynamic-indicators {
    flex-direction: column;
  }
  .step,
  .connector {
    flex-basis: auto;
    width: 100%;
  }
  .connector {
    display: none;
  }
  .icon-wrapper {
    padding: 15px;
  }
  .dynamic-indicators {
    padding: 30px 0px 10px 0px;
  }
  .indicator {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 949px) {
  .value-proposition p {
    line-height: 1.6;
  }
  .step h3 {
    color: #333;
    margin: 15px 0 10px;
  }
  .indicator-icon {
    height: 50px;
  }
}

@media screen and (min-width: 521px) and (max-width: 767px) {
  .how-it-works {
    align-items: unset;
    gap: 25px;
  }
  .indicator {
    margin-bottom: 25px;
  }
  .dynamic-indicators {
    padding: 20px 0;
  }
  .indicator-value {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 350px) and (max-width: 520px) {
  .value-title {
    padding-right: 20px;
  }
  .value-proposition {
    padding: 20px;
  }
  .value-proposition h2 {
    margin-bottom: 20px;
  }
  .value-proposition p {
    line-height: 1.6;
  }
  .value-item {
    animation-duration: 6s;
  }
  .map-title {
    padding-top: 30px;
  }
  .how-it-works {
    display: block;
    padding: 30px 40px;
  }
  .step {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .indicator-icon {
    height: 40px;
    margin-right: 10px;
  }
  .dynamic-indicators {
    padding: 0px;
  }
  .indicator {
    flex-basis: 100%;
    margin: 20px;
  }
  .indicator-value {
    margin-bottom: 0px;
  }
  .indicator h3 {
    margin-top: 5px;
  }
}

@media screen and (min-width: 180px) and (max-width: 349px) {
  .value-title {
    margin-top: 20px;
  }
  .value-proposition {
    padding: 10px;
    margin-top: 10px;
  }
  .values-section {
    margin-top: 10px;
  }
  .map-title {
    padding-top: 20px;
  }
  .how-it-works {
    display: block;
    padding: 20px;
  }
  .step img {
    width: 40px;
    height: auto;
  }
  .dynamic-indicators {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .indicator-top {
    align-items: unset;
  }
  .indicator-icon {
    height: 40px;
    margin-right: 10px;
  }
  .indicator-value {
    margin-bottom: 0px;
  }
}
